.farmerSubscribe {
  & .farmerSubscribe_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    line-height: 4.5rem;
    color: #000000;
  }
  & .details {
    margin-bottom: 5rem;
  }
  & .packages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    & .precious {
      height: 38.6rem;
      background: #eeeeee;
      border-radius: 1rem;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      padding: 2rem;
      &.gold {
        background: #ffd700;
      }
      &.platinum {
        background: #db9b1a;
      }
      & li {
        & .icon {
          color: #fff;
        }
      }
    }
  }
}
