// our farmers sections
section.our_farmers {
  // margin-top: -307px;
  padding-top: 7rem;
  background-color: #fff;
  & .our_farmers_wrapper {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
    & .our_farmers_card {
      height: 23.3rem;
      border-radius: .5rem;
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center;
      padding: 4rem 2rem 0 2rem;
      overflow: hidden;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.12);
      }
      & .our_farmers_name {
        color: #fff;
        margin-bottom: 2rem;
        z-index: 3;
        position: relative;
        transform: translateX(-20rem);
        transition: transform 0.3s;
      }

      & .our_farmers_desc {
        color: #fff;
        z-index: 3;
        position: relative;
        transform: translateX(-20rem);
        transition: transform 0.3s;
        transition-delay: 0.3s;
      }
      &:hover .our_farmers_name {
        transform: translateX(0px);
      }
      &:hover .our_farmers_desc {
        transform: translateX(0px);
      }
    }
  }
}
