._container {
  & header {
    width: 100%;
    height: 643px;
    background-image: url("../assest/image_33.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    & .info {
      width: 538px;
      padding-top: 109px;
      margin-left: 101px;
      & h2.title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
        color: #ffffff;
      }
      & p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
        margin-bottom: 37px;
      }
      & button {
        display: inline-block;
        width: 161px;
        height: 40px;
        background: #406b26;
        border: none;
        outline: none;
        border-radius: 5px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #ffffff;
      }
    }
  }
  & main {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 111px;
    display: flex;
    flex-direction: column;
    & .primary {
      display: flex;
      & h1 {
        margin-right: 225px;
      }
      & .right {
        width: 460px;
        & p {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 19px;
          color: #8b8b8b;
          &:first-of-type {
            margin-bottom: 60px;
          }
        }
      }
    }
    & .secondary {
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(244px, 1fr));
      gap: 50px;
      & .secondary_wrapper {
        & h2 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          color: #000000;
          margin-bottom: 26px;
        }
      }
    }
  }
  & .product_gallery {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    height: 592px;
    display: flex;
    @media screen and (max-width: 1199px) {
      width: 100%;
      padding: 0 20px;
    }
    & .product_gallery_left,
    & .product_gallery_right {
      flex: 1;
    }
    & .product_gallery_left {
      width: 100%;
      height: 100%;
      margin-right: 10px;
      overflow: hidden;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: scale(1.4);
        }
      }
    }
    & .product_gallery_right {
      display: flex;
      flex-direction: column;
      & .product_gallery_right_top {
        width: 100%;
        height: 50%;
        margin-bottom: 10px;
        overflow: hidden;
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: transform 0.5s ease-in-out;
          &:hover {
            transform: scale(1.4);
          }
        }
      }
      & .product_gallery_right_bottom {
        display: flex;
        width: 100%;
        height: 50%;
        & .image_wrap {
          flex: 1;
          height: 100%;
          overflow: hidden;
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.5s ease-in-out;
            &:hover {
              transform: scale(1.4);
            }
          }
          &:first-of-type {
            margin-right: 10px;
          }
        }
      }
    }
  }
  & .local_merchant_gallery {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 154px;
    display: flex;
    & figure {
      width: 316px;
      height: 387px;
      margin-right: 14.3rem;
      & img {
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
      &.second_figure {
        margin-right: 0;
      }
    }
    & .local_merchant_gallery-right {
      &.second {
        margin-right: 113px;
      }
      & h1 {
        white-space: nowrap;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 36px;
        color: #000000;
        margin-bottom: 53px;
      }
      & span {
        font-family: Poppins;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #88b22e;
        margin-top: 82px;
        & .arrow_icon {
          margin-left: 10px;
        }
      }
    }
  }
}
section.stats {
  width: 100%;
  height: 236px;
  background: #406b26;
  margin-top: 18.2rem;
  & ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
section.vid {
  max-width: 1200px;
  width: 100%;
  height: 480px;
  margin: 0 auto;
  margin-top: 12.1rem;
  @media screen and (max-width: 1205px) {
    height: 420px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
section.upcoming_events {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  & .heading {
    display: flex;
    align-items: center;
    @media screen and (max-width: 1070px) {
      justify-content: center;
    }
    @media screen and (max-width: 730px) {
      flex-direction: column;
    }
    & h1 {
      margin-right: 138px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 24px;
      line-height: 36px;
      color: #000000;
      @media screen and (max-width: 730px) {
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  & .events_details_wrapper {
    display: flex;
    margin-top: 132px;
    margin-left: 12rem;
    @media screen and (max-width: 1070px) {
      justify-content: center;
      margin-left: 0;
    }
    @media screen and (max-width: 730px) {
      margin-top: 50px;
    }
    & .events_details_content {
      width: 21rem;
      &:first-of-type {
        margin-right: 10rem;
      }
      & h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 27px;
        color: #000000;
        margin-bottom: 2rem;
      }
      & p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #8b8b8b;
      }
      & span {
        font-family: Poppins;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        color: #88b22e;
        margin-top: 2.1rem;
        & .arrow_icon {
          margin-left: 10px;
        }
      }
    }
  }
}

section.newsletter {
  max-width: 1196px;
  width: 100%;
  height: 325px;
  background: rgba(196, 196, 196, 0.24);
  margin: 0 auto;
  margin-top: 80px;
  padding: 48px 139px;
  @media screen and (max-width: 837px) {
    padding: 48px 0;
    display: flex;
    justify-content: center;
  }

  & .form_wrapper {
    display: flex;
    @media screen and (max-width: 675px) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    & h1 {
      margin-right: 183px;
      font-size: 30px;
      @media screen and (max-width: 1081px) {
        margin-right: 53px;
      }
    }
    & form {
      & .form_field {
        width: 502px;
        height: 67px;
        margin-bottom: 23px;
        @media screen and (max-width: 1081px) {
          height: 50px;
          width: 402px;
        }
        & input {
          width: 100%;
          height: 100%;
          background: #ffffff;
          border-radius: 5px;
          padding: 10px;
        }
      }
      & input[type="submit"] {
        width: 502px;
        height: 67px;
        border-radius: 5px;
        background: #406b26;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        cursor: pointer;
        @media screen and (max-width: 1081px) {
          height: 50px;
          width: 402px;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}
