._container {
  & header {
    width: 100%;
    height: 64.3rem;
    background-image: url("../assest/image_33.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    & .info {
      width: 53.8rem;
      padding-top: 10.9rem;
      margin-left: 10.1rem;
      @media screen and (max-width: 690px) {
        width: 80%;
        margin: 0 auto;
      }

      & h2.title {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 4.8rem;
        line-height: 7.2rem;
        color: #ffffff;
        @media screen and (max-width: 690px) {
          font-size: 38px;
        }
        @media screen and (max-width: 549px) {
          font-size: 30px;
          line-height: 40px;
        }
      }
      & p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: #ffffff;
        margin-bottom: 3.7rem;
        @media screen and (max-width: 549px) {
          font-size: 16px;
          margin-top: 20px;
        }
      }
      & button {
        display: inline-block;
        width: 16.1rem;
        height: 4rem;
        background: #406b26;
        border: none;
        outline: none;
        border-radius: 0.5rem;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: #ffffff;
      }
    }
  }
  & main {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 11.1rem;
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 62.5em) {
      max-width: 100%;
      width: 100%;
      padding: 4rem;
    }
    & .primary {
      display: flex;
      @media screen and (max-width: 41.4375em) {
        flex-direction: column;
      }
      & h1 {
        margin-right: 22.5rem;
        @media screen and (max-width: 62.5em) {
          margin-right: 18rem;
        }
        @media screen and (max-width: 53.75em) {
          margin-right: 12rem;
        }
        @media screen and (max-width: 49.5em) {
          margin-right: 8rem;
        }
        @media screen and (max-width: 41.4375em) {
          margin-right: 0rem;
          text-align: center;
          margin-bottom: 1rem;
        }
      }
      & .right {
        width: 46rem;
        @media screen and (max-width: 41.4375em) {
          width: 100%;
        }
        & p {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 1.3rem;
          line-height: 1.9rem;
          color: #8b8b8b;
          &:first-of-type {
            margin-bottom: 6rem;
          }
        }
      }
    }
    & .secondary {
      margin-top: 10rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24.4rem, 1fr));
      gap: 5rem;
      & .secondary_wrapper {
        & h2 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 2rem;
          line-height: 3rem;
          color: #000000;
          margin-bottom: 2.6rem;
          @media screen and (max-width: 53.75em) {
            margin-bottom: 1.6rem;
          }
        }
      }
    }
  }
  & .product_gallery {
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 15rem;
    height: 59.2rem;
    display: flex;
    @media screen and (max-width: 1199px) {
      width: 100%;
      padding: 0 20px;
    }
    @media screen and (max-width: 40.0625em) {
      flex-direction: column;
    }

    & .product_gallery_left,
    & .product_gallery_right {
      flex: 1;
    }
    & .product_gallery_left {
      width: 100%;
      height: 100%;
      margin-right: 1rem;
      overflow: hidden;
      @media screen and (max-width: 40.0625em) {
        margin-bottom: 1rem;
      }
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
        &:hover {
          transform: scale(1.4);
        }
      }
    }
    & .product_gallery_right {
      display: flex;
      flex-direction: column;
      @media screen and (max-width: 40.0625em) {
        flex-direction: row;
      }
      & .product_gallery_right_top {
        width: 100%;
        height: 50%;
        margin-bottom: 1rem;
        overflow: hidden;
        @media screen and (max-width: 40.0625em) {
          flex: 0 1 33.33%;
          margin-right: 1rem;
        }
        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transform: scale(1);
          transition: transform 0.5s ease-in-out;
          &:hover {
            transform: scale(1.4);
          }
        }
      }
      & .product_gallery_right_bottom {
        display: flex;
        width: 100%;
        height: 50%;
        @media screen and (max-width: 62.5em) {
          flex-direction: column;
        }
        @media screen and (max-width: 40.0625em) {
          flex: 0 1 66.66%;
          flex-direction: row;
        }
        & .image_wrap {
          flex: 1;
          height: 100%;
          overflow: hidden;
          @media screen and (max-width: 40.0625em) {
            flex: 1;
          }
          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: transform 0.5s ease-in-out;
            &:hover {
              transform: scale(1.4);
            }
          }
          &:first-of-type {
            margin-right: 1rem;
            @media screen and (max-width: 62.5em) {
              margin-right: 0;
              margin-bottom: 1rem;
            }
            @media screen and (max-width: 40.0625em) {
              margin-bottom: 0;
              margin-right: 1rem;
            }
          }
        }
      }
    }
  }
  & .local_merchant_gallery {
    max-width: 100rem;
    width: 100%;
    margin: 0 auto;
    margin-top: 15.4rem;
    display: flex;
    @media screen and (max-width: 62.5em) {
      max-width: 100%;
      width: 100%;
      padding: 4rem;
      align-items: center;
      margin-top: 8.4rem;
    }
    @media screen and (max-width: 45.0625em) {
      flex-direction: column;
      align-items: stretch;
    }
    & .local_merchant_gallery-left {
      @media screen and (max-width: 45.0625em) {
        flex: 1;
      }
      & figure {
        width: 31.6rem;
        height: 38.7rem;
        margin-right: 14.3rem;
        @media screen and (max-width: 62.5em) {
          margin-right: 8rem;
        }
        @media screen and (max-width: 45.0625em) {
          width: 100%;
          height: 20rem;
          margin-right: 0;
        }

        & img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
        &.second_figure {
          margin-right: 0;
        }
      }
    }

    & .local_merchant_gallery-right {
      @media screen and (max-width: 45.0625em) {
        flex: 1;
      }
      &.second {
        margin-right: 11.3rem;
        @media screen and (max-width: 62.5em) {
          margin-right: 8rem;
        }
        @media screen and (max-width: 45.0625em) {
          margin-right: 0;
        }
      }
      & h1 {
        white-space: nowrap;
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: #000000;
        margin-bottom: 5.3rem;
        @media screen and (max-width: 45.0625em) {
          margin-bottom: 2.3rem;
          margin-top: 2rem;
          line-height: 1.6rem;
        }
      }
      & span {
        font-family: Poppins;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: #88b22e;
        margin-top: 8.2rem;
        @media screen and (max-width: 45.0625em) {
          margin-top: 2rem;
        }
        & .arrow_icon {
          margin-left: 1rem;
        }
      }
    }

    &.second-local {
      @media screen and (max-width: 45.0625em) {
        flex-direction: column-reverse;
        margin-top: 2rem;
      }
    }
  }
}
section.stats {
  width: 100%;
  height: 23.6rem;
  background: #406b26;
  margin-top: 18.2rem;
  @media screen and (max-width: 62.5em) {
    margin-top: 4.4rem;
  }

  & ul {
    height: 100%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
section.vid {
  max-width: 120rem;
  width: 100%;
  height: 48rem;
  margin: 0 auto;
  margin-top: 12.1rem;
  @media screen and (max-width: 75.3125em) {
    height: 420px;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
section.upcoming_events {
  max-width: 100rem;
  margin: 0 auto;
  margin-top: 6rem;
  @media screen and (max-width: 62.5em) {
    max-width: 100%;
    width: 100%;
    padding: 4rem;
    margin-top: 4rem;
  }
  & .heading {
    display: flex;
    align-items: center;
    @media screen and (max-width: 62.5em) {
      justify-content: center;
    }
    // @media screen and (max-width: 1070px) {
    //   justify-content: center;
    // }
    @media screen and (max-width: 43.75em) {
      flex-direction: column;
    }
    & h1 {
      margin-right: 13.8rem;
      font-family: Poppins;
      font-style: normal;
      font-weight: 300;
      font-size: 2.4rem;
      line-height: 36px;
      color: #000000;
      @media screen and (max-width: 43.75em) {
        text-align: center;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
  }
  & .events_details_wrapper {
    display: flex;
    margin-top: 13.2rem;
    margin-left: 12rem;
    @media screen and (max-width: 62.5em) {
      margin-top: 8rem;
      margin-left: 0;
      justify-content: center;
    }
    // @media screen and (max-width: 730px) {
    //   margin-top: 50px;
    // }
    & .events_details_content {
      width: 21rem;
      @media screen and (max-width: 62.5em) {
        flex: 1;
        width: 100%;
        padding: 0 4rem;        
      }
      @media screen and (max-width: 38.5em){
        padding: 0rem;
      }

      &:first-of-type {
        margin-right: 10rem;
        @media screen and (max-width: 62.5em) {
          margin-right: 4rem;
        }
      }
      & h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 300;
        font-size: 1.8rem;
        line-height: 2.7rem;
        color: #000000;
        margin-bottom: 2rem;
        @media screen and (max-width: 38.5em){
          text-align: center;
        }
      }
      & p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: #8b8b8b;
      }
      & span {
        font-family: Poppins;
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        line-height: 1.9rem;
        color: #88b22e;
        margin-top: 2.1rem;
        & .arrow_icon {
          margin-left: 1rem;
        }
      }
    }
  }
}

section.newsletter {
  max-width: 119.6rem;
  width: 100%;
  height: 32.5rem;
  background: rgba(196, 196, 196, 0.24);
  margin: 0 auto;
  margin-top: 8rem;
  padding: 4.8rem 13.9rem;
  @media screen and (max-width: 837px) {
    padding: 48px 0;
    display: flex;
    justify-content: center;
  }

  & .form_wrapper {
    display: flex;
    @media screen and (max-width: 675px) {
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    & h1 {
      margin-right: 18.3rem;
      font-size: 3rem;
      @media screen and (max-width: 1081px) {
        margin-right: 53px;
      }
    }
    & form.newLetterForm {
      @media screen and (max-width: 27.3125em) {
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
      }
      & .form_field {
        width: 50.2rem;
        height: 6.7rem;
        margin-bottom: 2.3rem;
        @media screen and (max-width: 1081px) {
          height: 50px;
          width: 40.2rem;
        }
        @media screen and (max-width: 40.0625em) {
          width: 100%;
          padding: 0;
          margin: 0 auto;
          margin-bottom: 2rem;
        }
        & input {
          width: 100%;
          height: 100%;
          background: #ffffff;
          border-radius: 0.5rem;
          padding: 1rem;
        }
      }
      & input[type="submit"] {
        width: 50.2rem;
        height: 6.7rem;
        border-radius: 0.5rem;
        background: #406b26;
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
        color: #ffffff;
        cursor: pointer;
        @media screen and (max-width: 1081px) {
          height: 50px;
          width: 402px;
          font-size: 18px;
          font-weight: 400;
        }
        @media screen and (max-width: 27.3125em) {
          width: 100%;
        }
      }
    }
  }
}

// --------------------btn------------

%btn-placeholder {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 20rem;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  /* the transition property is added to the original state.. */
  position: relative;
  font-size: 1.6rem;
}
@mixin format-hover($trans, $shadow) {
  -webkit-transform: $trans;
  -ms-transform: $trans;
  transform: $trans;
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

.btn {
  &:link,
  &:visited,
  & {
    @extend %btn-placeholder;
    //  by default the button type usually comes with border
    border: none;
    cursor: pointer;
  }

  &--white {
    color: #fff;
    background-color: var(--main-color);
    &::after {
      background-color: var(--main-color);
    }

    &:hover {
      @include format-hover(
        translateY(-0.3rem),
        0rem 1rem 2rem rgba(0, 0, 0, 0.2)
      );
      // transform:translateY(-0.3rem);
      // box-shadow:0rem 1rem 2rem rgba(0,0,0,0.2)
      &::after {
        opacity: 0;
        -webkit-transform: scaleX(1.4) scaleY(1.6);
        -ms-transform: scaleX(1.4) scaleY(1.6);
        transform: scaleX(1.4) scaleY(1.6);
      }
      /* when we hover the btn we want some certain style on the after pseudo-element=>.btn:hover::after  */
      /* ----very important logic behind the animation around the button */
    }
    &:active,
    &:focus {
      // -webkit-transform:translateY(-0.1rem);
      //     -ms-transform:translateY(-0.1rem);
      //         transform:translateY(-0.1rem);
      // -webkit-box-shadow:0rem .5rem 1rem rgba($color-black,0.2);
      //         box-shadow:0rem .5rem 1rem rgba($color-black,0.2);
      outline: none;
      @include format-hover(
        translateY(-0.1rem),
        0rem 0.5rem 1rem rgba(0, 0, 0, 0.2)
      );
    }
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 20rem;
      -webkit-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
    }
  }
}
