.sideNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  z-index: 1000000000000;
  display: none;
  @media screen and (max-width: 74.125em) {
    display: block;
  }

  & .sideNav_main {
    width: 25rem;
    background-color: #fff;
    height: 100%;
    // padding-left: 20px;
    padding-top: 2rem;
    & .hamburger_logo {
      display: flex;
      align-items: center;
      margin-left: 2rem;
      & .hamburger_menu {
        font-size: 3.5rem;
        color: green;
        display: block;
        margin-right: 2rem;
      }
    }
  }
  & .navbar_wrapper {
    margin-top: 3rem;
    padding-right: 1rem;
    & ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      & li {
        padding: 1rem;
        padding-left: 2rem;
        width: 100%;

        &:first-of-type {
          background-color: rgba(0, 0, 0, 0.2);
        }
        & div {
          display: flex;
          align-items: center;
        }
        & span {
          font-size: 1.4rem;
          font-weight: 400;
          display: inline-block;
        }
        & .icon {
          font-size: 3rem;
          margin-right: 2rem;
        }
        &.login_display {
          display: none;
          @media screen and (max-width: 51.5625em) {
            display: block;
          }
        }
      }
    }
  }
}
