// what we do Section
section.what_we_do {
  padding: 70px 0;
  background-image: linear-gradient(to bottom, #f8f8f8 50.7%, #fff 50.7%);
  width: 100%;

  & .what_we_do_wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 50px;
    & .what_we_do_card {
      min-height: 400px;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0px 4px 8px 0px #0000000f;

      & .what_we_do_image {
        width: 100%;
        height: 163px;
        background-color: grey;

        & img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      & .what_we_do_title {
        line-height: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        font-weight: 500;
      }
      & .what_we_do_desc {
        width: 292px;
        margin: 0 auto;
        line-height: 22.9px;
        text-align: center;
        font-weight: 300;
        font-family: poppins;
        color: grey;
        font-size: 14px;
      }
    }
  }
}
.primary_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  & h1 {
    // text-align: center;
    margin-bottom: 50px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    &::after {
      position: absolute;
      content: '';
      width: 80%;
      height: 2px;
      background-color: #88b22e;
      top: calc(100%);
      left: 20px;
    }
  }
}
