.footer__section {
  margin-top: 12rem;
  background: #000000;
  color: #fff;
  padding: 4rem 0;
  // border:1px solid red;
}
.footer__section__row {
  width: 100%;
  display: flex;
  padding: 0 3rem;
  @media screen and (max-width: 991px) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.footer__section__column {
  flex: 0 1 25%;
  &:not(:last-of-type) {
    margin-right: 4rem;
  }
  & .footer__section__description {
    font-size: 1.4rem;
    line-height: 1.9;
  }
  &.useful-link {
    & .footer__section__text__header {
      text-align: center;
      @media screen and (max-width: 34.9375em) {
        text-align: left;
      }
    }
  }
 

}
.footer__section__text__header {
  font-size: 2.7rem;
  font-weight: 500;
  margin: 4.5rem 0 2rem 0;
  @media screen and (max-width: 1158px) {
    font-size: 2rem;
  }
}
.footer__section__details {
  list-style-type: none;
  &.useful-link {
    & li {
      text-align: center;
      @media screen and (max-width: 34.9375em) {
        text-align: left;
      }
    }
  }
  & li {
    margin-bottom: 1rem;
  }
}
.footer__section__details li a,
.footer__section__details li .link {
  text-decoration: none;
  color: var(--text-main);
  line-height: 2.5rem;
  font-size: 1.4rem;
  color: #fff;
}
// .footer__section__details li a:hover {
//   transition: 0.1s;
//   font-weight: 500;
//   border-bottom: 3px solid var(--main-color);
//   border-bottom-left-radius: 30%;
// }
.apple_andriod_wrapper {
  display: flex;
  align-items: center;
  & .andriod,
  & .apple {
    flex: 1;
  }
  & .andriod {
    margin-right: 0.5rem;
  }
}
.footer__section__google__download,
.footer__section__apple__download {
  margin: 0.5rem;
  cursor: pointer;
}

.link {
  text-decoration: none;
}
