.alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.32);
  backdrop-filter: blur(.2rem);
  //   position: relative;
  & .card {
    width: 480px;
    min-height: 160px;
    background-color: #fff;
    padding: 6rem 6rem 4rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    position: relative;
    & h1 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 1.9rem;
      line-height: 2.8rem;
      text-align: center;
      color: #000000;
      margin-bottom: 4rem;
    }
    & .alert_decision {
      display: flex;
      & button {
        background: #88b22e;
        border-radius: .3rem;
        width: 11rem;
        padding: 1rem;
        border: none;
        color: #fff;
        &:first-of-type {
          margin-right: 2rem;
          background: rgba(196, 196, 196, 0.4);
          color: #000;
        }
      }
    }
  }
  & .remove {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
  }
}
